:root {
  --sky-col: #e8fcff;
  --ocean-col: #00c3ff;
  --btn-border-col: gold;
  --btn-bg-col: tan;
}

@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap");

* {
  margin: 0;
}
body {
  background-color: var(--sky-col);
}
.btn {
  padding: 0.5rem 0;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;

  margin: 0 auto;

  background-color: var(--btn-bg-col);
  border: 10px solid var(--btn-border-col);
}
.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  margin: 0 auto;
  padding: 1em;
  width: 50%;

  border: solid 1px black;
  background-color: transparent;
}
h1,
h3 {
  font-family: "Grenze Gotisch", serif;
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
}

/* || Hero Section */
#hero-section {
  background-image: url(../Assets/hero-page-gif.gif);
  background-color: var(--ocean-col);
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15vh;
}
.upper {
  display: inline-block;
  font-size: 150%;
}
#about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
#about-me-container a {
  width: 50vw;
  text-align: center;
}

/* || Transition Section */
#transition-section {
  height: 100vh;
  background-color: var(--ocean-col);
  background: linear-gradient(
    var(--ocean-col),
    var(--ocean-col) 25%,
    /* transparent 75% */ navy 100%
  );
}

/* || Projects Section */
#project-section {
  background-color: navy;
  display: flex;
  flex-direction: column;
  gap: 20vh;
  height: 100%;

  padding: 15vh 0;
}
.project-section-title {
  text-align: center;
  border: solid 5px white;
  padding: 1rem;
  color: white;
  font-size: 3rem;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}
.project-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5vh;
}

/* || Project Cards */
.project-card {
  min-width: 300px;
  width: 60vw;
  border: solid 5px lightblue;
  height: 50vh;
}
.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.project-card-front {
  z-index: 4;
  transition: 3s;
}
.project-card-back,
.project-card-back h1,
.description,
.project-card-back a {
  z-index: 3;
}
.project-card-back {
  width: 100%;
  height: 100%;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-card-back img {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(30%);
}

.full-brightness{
  filter: brightness(100%) !important;
}



.project-card-back a {
  margin-bottom: 5%;
  text-align: center;
}
.project-card-back .btn {
  min-width: auto;
  width: 80%;
  padding: 0;
  font-size: 2rem;
}
.description {
  text-align: left;
  margin: 0 10%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}
.project-card-inner:hover .project-card-front {
  animation-name: project-fade-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.project-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* || Footer */
footer {
  background-color: black;
  color: white;
  padding: 5vh 3vw 5vh 3vw;
}
footer a {
  color: lightblue;
}
.footer-nav {
  display: flex;
  flex-direction: row;

  border-top: solid 2px white;
  margin: 5% 0;
}
.footer-container {
  display: flex;
  flex-direction: column;

  margin: 0 2%;
  width: 100%;
  height: 100%;
}
.footer-container h3 {
  margin: 1vh 0;
}
#footer-border {
  border-left: solid 2px white;
  margin: 0 3vw;
}
.footer-projects-list {
  list-style-position: inside;
  padding: 0;
}
footer li {
  list-style-type: disc;
  padding-left: 0;
}
footer li:first-child {
  list-style-type: none;
}

/* || Social Media Icons */
.social-media-container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 5%;
}
.icon {
  width: 1rem;
  height: 1rem;

  padding: 1rem;

  background-size: contain;
  background-repeat: no-repeat;
}
.instagram-icon {
  background-image: url("../Assets/Icons/instagram-icon.png");
}
.itch-icon {
  background-image: url("../Assets/Icons/itch-icon.png");
}
.facebook-icon {
  background-image: url("../Assets/Icons/facebook-icon.png");
  min-width: 16px;
  min-height: 16px;
}
.linkedin-icon {
  background-image: url("../Assets/Icons/linkedin-icon.png");
  background-size: cover;
  background-color: white;
  border-radius: 5px;
}

/* || Animations */
@keyframes project-fade-out {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    z-index: 1;
  }
}
@keyframes project-fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    z-index: 4;
  }
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for iPads and tablets.  */
@media all and (min-width: 481px) {
} /* closes 481px+ */

/* Minimum width for laptops. */
@media all and (min-width: 769px) {
  #hero-section {
    background-size: 100%;
    gap: 0;
  }
  .name-container {
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 5vh;
  }
  .name-container h1 {
    font-size: 5rem;
  }
  .upper {
    font-size: 200%;
  }
  #about-me-container {
    margin: 2vh auto;
  }
  #about-me-container a {
    width: auto;
    padding: 1rem 3rem;
    text-align: center;
  }
  .skills-container {
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem 5vw;
    border: solid 3px black;
  }
  .skills-container h3 {
    font-size: 2rem;
  }

  .btn:hover {
    border-color: var(--btn-bg-col);
    background-color: var(--btn-border-col);
  }

  .project-cards-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
  }
  .project-card {
    min-width: 20vw;
    width: auto;
  }
  .project-card-back .btn {
    padding: 0.5rem 0;
  }
  .description {
    font-size: 1.2rem;
  }
} /* closes 769px+ */

/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
} /* closes 1024px+ */
